body {
    color: green;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper {
    width: 600px;
    height: auto;
    text-align: center;
    padding: 15px;
    border: 3px solid red;
}

form {
    display: inline-block;
}

.btn-static {
    background-color: white;
    border: 1px solid lightgrey;
    cursor: default;
}
