<#include "security.ftlh">

<#macro booklist isFavorites>
    <#if isAdmin && !isFavorites>
        <form action="${rc.contextPath}/catalog/add">
            <button class="btn btn-primary" type="submit">Add book</button>
        </form>
    </#if>
    <div id="message-list">
        <#list books as book>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img src="${rc.contextPath}/img/${book.imgFileName}" class="card-img-top"
                                         alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">${book.name}</h4>
                                    <h5 class="card-text">${book.author}</h5>
                                    <p class="card-text">${book.description}</p>
                                </div>
                            </div>
                            <div class="card-footer" align="right">
                                <#if isFavorites>
                                    <form method="post" action="${rc.contextPath}/favorites/delete">
                                        <input name="bookId" type="hidden" value="${book.id}">
                                        <button class="btn btn-danger" type="submit">Remove from favorites</button>
                                    </form>
                                </#if>
                                <#if !isFavorites && book.favorite>
                                    <div class="btn btn-static">In Favorites</div>
                                </#if>
                                <#if !isFavorites && !book.favorite>
                                    <form method="post" action="${rc.contextPath}/favorites">
                                        <input name="bookId" type="hidden" value="${book.id}">
                                        <button class="btn btn-success" type="submit">Add to favorites</button>
                                    </form>
                                </#if>
                                <#if isAdmin && !isFavorites>
                                    <a href="${rc.contextPath}/catalog/${book.id}" class="btn btn-primary">Edit</a>
                                    <form method="post" action="${rc.contextPath}/catalog/${book.id}/delete">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </#if>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <#else>
            Empty Library
        </#list>
    </div>
</#macro>